<div ng-controller="ViewBangDiemCtrl">
<div class="row">
  <!-- content -->
  <div class="col mt-3  mb-3 asideHome">
    

    <table class="table mt-3" style="color: white;">
      <thead>
        <tr>
          <th>MÔN THI</th>
          <th class=" text-center">QUIZ 1</th>
          <th class=" text-center">QUIZ 2</th>
          <th class=" text-center">QUIZ 3</th>
          <th class=" text-center">QUIZ 4</th>
          <th class=" text-center">QUIZ 5</th>
          <th class=" text-center">TEST</th>
          <th class=" text-center">ĐIỂM TB</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">JAVA</td>
          <td class=" text-center"> 10 </td>
          <td class=" text-center"> 9.5</td>
          <td class=" text-center">10</td>
          <td class=" text-center">8</td>
          <td class=" text-center">9.5</td>
          <td class=" text-center">10</td>
          <td class=" text-center">8.5</td>
        </tr>
        <tr>
          <td scope="row">CSDL</td>
          <td class=" text-center">8 </td>
          <td class=" text-center">8.5</td>
          <td class=" text-center">10</td>
          <td class=" text-center">9</td>
          <td class=" text-center">9.5</td>
          <td class=" text-center">8.5</td>
          <td class=" text-center">9.5</td>
        </tr>
        <tr>
          <td scope="row">THIẾT KẾ WEB</td>
          <td class=" text-center">9</td>
          <td class=" text-center">8.5</td>
          <td class=" text-center">10</td>
          <td class=" text-center">8</td>
          <td class=" text-center">9.5</td>
          <td class=" text-center">9.5</td>
          <td class=" text-center">9.5</td>
        </tr>
        <tr>
          <td scope="row">JAVA 3</td>
          <td class=" text-center"> 10 </td>
          <td class=" text-center"> 9.5</td>
          <td class=" text-center">10</td>
          <td class=" text-center">8</td>
          <td class=" text-center">9.5</td>
          <td class=" text-center">10</td>
          <td class=" text-center">8.5</td>
        </tr>
        <tr>
          <td scope="row">PHOTOSHOP</td>
          <td class=" text-center">8 </td>
          <td class=" text-center">8.5</td>
          <td class=" text-center">10</td>
          <td class=" text-center">9</td>
          <td class=" text-center">9.5</td>
          <td class=" text-center">8.5</td>
          <td class=" text-center">9.5</td>
        </tr>
        <tr>
          <td scope="row">BACK-END</td>
          <td class=" text-center">9</td>
          <td class=" text-center">8.5</td>
          <td class=" text-center">10</td>
          <td class=" text-center">8</td>
          <td class=" text-center">9.5</td>
          <td class=" text-center">9.5</td>
          <td class=" text-center">9.5</td>
        </tr>
        <tr>
          <td scope="row">JAVA 5</td>
          <td class=" text-center"> 10 </td>
          <td class=" text-center"> 9.5</td>
          <td class=" text-center">10</td>
          <td class=" text-center">8</td>
          <td class=" text-center">9.5</td>
          <td class=" text-center">10</td>
          <td class=" text-center">8.5</td>
        </tr>
        <tr>
          <td scope="row">CSDL NÂNG CAO</td>
          <td class=" text-center">8 </td>
          <td class=" text-center">8.5</td>
          <td class=" text-center">10</td>
          <td class=" text-center">9</td>
          <td class=" text-center">9.5</td>
          <td class=" text-center">8.5</td>
          <td class=" text-center">9.5</td>
        </tr>
        <tr>
          <td scope="row">DỰ ÁN MẪU</td>
          <td class=" text-center">9</td>
          <td class=" text-center">8.5</td>
          <td class=" text-center">10</td>
          <td class=" text-center">8</td>
          <td class=" text-center">9.5</td>
          <td class=" text-center">9.5</td>
          <td class=" text-center">9.5</td>
        </tr>
        <tr>
          <td scope="row">DỰ ÁN 1</td>
          <td class=" text-center"> 10 </td>
          <td class=" text-center"> 9.5</td>
          <td class=" text-center">10</td>
          <td class=" text-center">8</td>
          <td class=" text-center">9.5</td>
          <td class=" text-center">10</td>
          <td class=" text-center">8.5</td>
        </tr>
        <tr>
          <td scope="row">CSDL 2</td>
          <td class=" text-center">8 </td>
          <td class=" text-center">8.5</td>
          <td class=" text-center">10</td>
          <td class=" text-center">9</td>
          <td class=" text-center">9.5</td>
          <td class=" text-center">8.5</td>
          <td class=" text-center">9.5</td>
        </tr>
        <tr>
          <td scope="row">FRONT-END</td>
          <td class=" text-center">9</td>
          <td class=" text-center">8.5</td>
          <td class=" text-center">10</td>
          <td class=" text-center">8</td>
          <td class=" text-center">9.5</td>
          <td class=" text-center">9.5</td>
          <td class=" text-center">9.5</td>
        </tr>
        
      </tbody>
    </table>


 </div>
</div>
</div>