<div ng-controller="ViewLoginCtrl"></div>
<div class="row  containerLogin">
  <!-- <div class="h-100"> -->
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card card-login">
        <div class="card-header">
          <h3>Sign In</h3>
          <div class=" justify-content-end social_icon">
            <img style="width: 100px; margin-top: 55px; margin-right:40px ;" src="https://i.imgur.com/5EK1lFm.png"
              alt="">
            <!-- <span><i class="fab fa-facebook-square"></i></span>
              <span><i class="fab fa-google-plus-square"></i></span>
              <span><i class="fab fa-twitter-square"></i></span> -->
          </div>
        </div>
        <div class="card-body">
          <form name="loginForm">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input ng-model="loginForm.username" type="text" class="form-control" placeholder="username" />
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input ng-model="loginForm.password" type="password" class="form-control" placeholder="password" />
            </div>
            <div class="row align-items-center remember">
              <input type="checkbox" />Remember Me
            </div>
            <div class="form-group">
              <input type="submit" value="Login" class="btn float-right login_btn" value="Login"
                ng-click="checkLogin();" />
            </div>
            <!-- message  -->
            <div ng-if="errorMessage != null">
              <h5 style="color: red;font-size: 17px;text-align: center;margin-bottom: -15px;">{{errorMessage}}</h5>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            Don't have an account?<a href="#" data-toggle="modal" data-target="#editModel">Sign Up</a>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#" data-toggle="modal" data-target="#quenMK">Forgot your password?</a>
          </div>
        </div>
      </div>
    </div>

    <div class="modal mt-3" id="editModel" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content mt-5" style="width: 700px; right: 100px;">
          <div class="modal-header bg-dark">
            <h3 style="color: white;">Sign Up</h3>
            <div class="d-flex justify-content-end social_icon">
              <span><i class="fab fa-facebook-square"></i></span>
              <span><i class="fab fa-google-plus-square"></i></span>
              <span><i class="fab fa-twitter-square"></i></span>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <div class="col sm-6">
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" />
                  </div>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" />
                  </div>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password again" />
                  </div>
                </div>
                <div class="col sm-6">
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <div class="form-control ">
                      <label><input type="checkbox" value="Nam" /> Nam
                      </label>
                    </div>
                    <div class="form-control ">
                      <label><input type="checkbox" value="Nu" /> Nu </label>
                    </div>
                  </div>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email" />
                  </div>
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-phone"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Numberphone" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col ">
                  <div class="form-group">
                    <input type="submit" value="Regist" class="btn float-right login_btn" />
                  </div>
                  <!-- <div th:if="${message != null}">
                      <h5
                        th:text="${message}"
                        style="color: red;font-size: 17px;text-align: center;margin-bottom: -15px;"
                      ></h5>
                    </div> -->

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal mt-3" id="quenMK" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content mt-5">
          <div class="modal-header bg-dark">
            <h3 style="color: white;">Sign Up</h3>
            <!-- <div class="d-flex justify-content-end social_icon">
                <span><i class="fab fa-facebook-square"></i></span>
                <span><i class="fab fa-google-plus-square"></i></span>
                <span><i class="fab fa-twitter-square"></i></span>
              </div> -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="numberphone" />
              </div>

              <div class="form-group">
                <input type="submit" value="Submit" class="btn float-right login_btn" />
              </div>
              <!-- <div th:if="${message != null}">
                  <h5
                    th:text="${message}"
                    style="color: red;font-size: 17px;text-align: center;margin-bottom: -15px;"
                  ></h5>
                </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>