<div ng-controller="ViewLienHeCtrl">
  <div class="row">
    <!-- content -->
    <div class="col mt-3 mb-3 asideHome">
      <nav style="margin-top: 18px;">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-hanoi-tab" data-toggle="tab" data-target="#nav-hanoi" role="tab"
            aria-controls="nav-hanoi" aria-selected="true">Hà Nội</a>
          <a class="nav-item nav-link" id="nav-danang-tab" data-toggle="tab" data-target="#nav-danang" role="tab"
            aria-controls="nav-danang" aria-selected="false">Đà Nẵng</a>
          <a class="nav-item nav-link" id="nav-taynguyen-tab" data-toggle="tab" data-target="#nav-taynguyen" role="tab"
            aria-controls="nav-taynguyen" aria-selected="false">Tây Nguyên</a>
          <a class="nav-item nav-link" id="nav-hcm-tab" data-toggle="tab" data-target="#nav-hcm" role="tab"
            aria-controls="nav-hcm" aria-selected="false">TP.HCM</a>
          <a class="nav-item nav-link" id="nav-ct-tab" data-toggle="tab" data-target="#nav-ct" role="tab"
            aria-controls="nav-ct" aria-selected="false">Cần Thơ</a>
        </div>
      </nav>
      <div class="row ">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-hanoi" role="tabpanel" aria-labelledby="nav-hanoi-tab">
            <div class="row mt-3 ">
              <div class="col-sm-5 pl-4">
              <h3 style="text-align: center;">
                <span style="color: #ff6600;"><a style="color: #ff6600;"
                    href="https://caodang.fpt.edu.vn/lien-he-2/co-so-tai-ha-noi">Cơ sở đào tạo tại Hà Nội</a></span>
              </h3>
              <p style="text-align: center;">
                <strong>Địa chỉ</strong> Tòa nhà FPT Polytechnic (nhà H), Hàm
                Nghi, Mỹ Đình, Từ Liêm, Hà Nội<br />
                <strong>Điện thoại liên hệ</strong> Phòng Tư vấn tuyển sinh:
              </p>
              <p style="text-align: center;">
                Tư vấn 1:&nbsp;<em>(024) 8582 0808</em>
              </p>
              <p style="text-align: center;">Tư vấn 2: (024) 6684 0713</p>
              <p style="text-align: center;">Tư vấn 3: (024) 6684 1713</p>
              <p style="text-align: center;">
                Phòng Công tác sinh viên: (024) 73001955 – Nhánh số 1
              </p>
              <p style="text-align: center;">
                Phòng Giáo vụ Đào tạo:&nbsp;(024) 73001955 – Nhánh số 2
              </p>
              <p style="text-align: center;">
                Phòng Hành chính – Kế toán: (024) 73001955 – Nhánh số 3
              </p>
              <p style="text-align: center;">
                Phòng Quan hệ doanh nghiệp: (024) 73001955 – Nhánh số 4
              </p>
              <p style="text-align: center;">
                <strong>Email </strong> caodangfpt.hn@fpt.edu.vn
              </p>
            </div>
            <div class="col-sm-7">
              <img src="images/fpt/FPT_HN.png" style="width: 693px;margin-top: 48px;">
            </div>
            </div>
          </div>

          <div class="tab-pane fade" id="nav-danang" role="tabpanel" aria-labelledby="nav-danang-tab">
            <div class="row mt-3">
              <div class="col-sm-5 pl-4">
                <h3 style="text-align: center;">
                  <span style="color: #ff6600;"><a style="color: #ff6600;"
                      href="https://caodang.fpt.edu.vn/lien-he-2/co-so-tai-da-nang">Cơ sở đào tạo tại Đà
                      Nẵng</a></span>
                </h3>
                <p style="text-align: center;">
                  <strong>Địa chỉ</strong> 137 Nguyễn Thị Thập, Phường Hòa
                  Minh, Quận Liên Chiểu, TP. Đà Nẵng<br />
                  <strong>Điện thoại liên hệ</strong>
                </p>
                <p style="text-align: center;">
                  Phòng Tư vấn tuyển sinh: (0236) 3710 999
                </p>
                <p style="text-align: center;">
                  Phòng Giáo vụ Đào tạo: (0236) 3710 889
                </p>
                <p style="text-align: center;">
                  Phòng Công tác sinh viên: (0236) 3710 888
                </p>
                <p style="text-align: center;">
                  Phòng Hành chính: (0236) 3710 886
                </p>
                <p style="text-align: center;">
                  Phòng Kế toán: (0236) 3739 232
                </p>
                <p style="text-align: center;">
                  <strong>Email </strong> caodangfpt.dn@fpt.edu.vn
                </p>
              </div>
              <div class="col-sm-7">
                <img src="images/fpt/FPT_DN.jpg" style="width: 693px;margin-top: 48px;">
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="nav-taynguyen" role="tabpanel" aria-labelledby="nav-taynguyen-tab">
            <div class="row mt-3 mb-3">
              <div class="col-sm-5 pl-4">
              <h3 style="text-align: center;">
                <span style="color: #ff6600;"><a style="color: #ff6600;"
                    href="https://caodang.fpt.edu.vn/lien-he-2/co-so-tai-daklak">Cơ sở đào tạo tại Tây Nguyên</a></span>
              </h3>
              <p style="text-align: center;">
                <strong>Địa chỉ</strong> Số 27, tòa nhà VIB (tầng 2), Đường
                Nguyễn Tất Thành, TP. Buôn Ma Thuột, Tỉnh Đắk Lắk<br />
                <strong>Điện thoại liên hệ</strong>
              </p>
              <p style="text-align: center;">
                Phòng Tư vấn tuyển sinh: (0262) 3555678
              </p>
              <p style="text-align: center;">
                Phòng Giáo vụ Đào tạo: (0262) 8561666
              </p>
              <p style="text-align: center;">
                Phòng Công tác sinh viên: (0262) 3826789
              </p>
              <p style="text-align: center;">
                Phòng Hành chính: (0262) 3556996
              </p>
              <p style="text-align: center;">
                <strong>Email </strong> caodangfpt.daklak@fpt.edu.vn
              </p>
            </div>
            <div class="col-sm-7">
              <img src="images/fpt/FPT_TN.jpg" style="width: 693px;margin-top: 48px;">
            </div>
            </div>
          </div>

          <div class="tab-pane fade" id="nav-hcm" role="tabpanel" aria-labelledby="nav-hcm-tab">
            <div class="row mt-3 ">
              <div class="col-sm-5 pl-4">
              <h3 style="text-align: center;">
                <span style="color: #ff6600;"><a style="color: #ff6600;"
                    href="https://caodang.fpt.edu.vn/lien-he-2/co-so-tai-tp-ho-chi-minh">Cơ sở đào tạo tại TP. Hồ Chí
                    Minh</a></span>
              </h3>
              <p style="text-align: center;">
                <span style="color: white;"><strong>Cơ sở 1:</strong> 391A Nam Kỳ Khởi
                  Nghĩa,&nbsp;Phường 7, Quận 3, TP. Hồ Chí Minh</span><br />
                <span style="color: white;"><strong>Cơ sở 2:&nbsp;</strong>778/B1 Nguyễn Kiệm, Phường
                  4,&nbsp;Quận Phú Nhuận, TP. Hồ Chí Minh</span>
              </p>
              <p style="text-align: center;">
                <strong>Cơ sở 3:&nbsp;</strong>Toà nhà Innovation, lô 24, Công
                viên phần mềm Quang Trung, Quận 12, Hồ Chí Minh
              </p>
              <p style="text-align: center;">
                <strong>Điện thoại liên hệ</strong>
              </p>
              <p style="text-align: center;">Phòng Tư vấn tuyển sinh:</p>
              <p style="text-align: center;">
                Cơ sở 1 – (028) 35268799 hoặc (028) 35268896.
              </p>
              <p style="text-align: center;">Cơ sở 2: (028) 6252 3434</p>
              <p style="text-align: center;">
                Liên hệ phòng Công tác sinh viên, Phòng Đào tạo, phòng Tài Vụ
                và phòng Quan hệ doanh nghiệp theo số hotline:&nbsp;(<b>028)7308 8800</b>
              </p>
              <p style="text-align: center;">
                <strong>Email:&nbsp;</strong> caodangfpt.hcm@fpt.edu.vn
              </p>
            </div>
            <div class="col-sm-7">
              <img src="images/fpt/FPT_HCM.png" style="width: 693px;margin-top: 48px;">
            </div>
            </div>
          </div>

          <div class="tab-pane fade" id="nav-ct" role="tabpanel" aria-labelledby="nav-ct-tab">
            <div class="row mt-3 mb-3">
              <div class="col-sm-5 pl-4">
              <h3 style="text-align: center;">
                <span style="color: #ff6600;"><a style="color: #ff6600;"
                    href="https://caodang.fpt.edu.vn/lien-he-2/co-so-tai-tp-ho-chi-minh">Cơ sở đào tạo tại Cần
                    Thơ</a></span>
              </h3>
              <p style="text-align: center;">
                <strong>Địa chỉ</strong> Số 288, Nguyễn Văn Linh, phường An
                Khánh, quận Ninh Kiều, Tp. Cần Thơ.<br />
                <strong>Điện thoại liên hệ</strong>
              </p>
              <p style="text-align: center;">
                Phòng Tư vấn tuyển sinh: 090.1759.222
              </p>
              <p style="text-align: center;">
                <strong>Email:&nbsp;</strong> caodangfpt@fpt.edu.vn
              </p>
            </div>
            <div class="col-sm-7">
              <img src="images/fpt/FPT_CT.jpg" style="width: 693px;margin-top: 48px;">
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>