<div ng-controller="ViewGioiThieuCtrl">
<div class="row">
  <!-- content -->
  <div class="col-sm-9 mt-3 mr-3 mb-3 arbody  ">
   <div class="row">

    <div class="div float-left mr-3 mb-3 asideHome " style="width: 32%;">
      <img class="card-img-top" src="/images/monqua.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Hàng trăm món quà trao tay đồng bào, trẻ em nghèo Đồng Tháp</h5>
        <p class="card-text">400 lá cờ tổ quốc, 100 góc học tập… là những món quà vô cùng ý nghĩa, thiết thực mà cán bộ,
           sinh viên Cao đẳng FPT Polytechnic cùng CBNV FPT trên toàn quốc quyên góp để trao ...</p>
        <a href="#" class="btn btn-primary-gradient">Xem Thêm</a>
      </div>
    </div>

    <div class="div float-left mr-3  mb-3 asideHome" style="width: 32.5%;">
      <img class="card-img-top" src="/images/CBNV.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">CBNV và sinh viên FPoly “thắng lớn” tại hội xuân Leng Keng</h5>
        <p class="card-text">Ngày 22/02/2019, đông đảo cán bộ nhân viên (CBNV) và sinh viên Cao đẳng FPT Polytechnic
           Đà Nẵng đã tham dự Hội xuân Leng Keng được tổ chức tại Tòa nhà FPT, KCN An Đồn, Q. Sơn ...</p>
        <a href="#" class="btn btn-primary-gradient">Xem Thêm</a>
      </div>
    </div>

    <div class="div float-left  mb-3 asideHome" style="width: 32%;">
      <img class="card-img-top" src="/images/svfpt.jpg" alt="Card image ">
      <div class="card-body">
        <h5 class="card-title">Sinh viên FPT Polytechnic Đà Nẵng xung kích tình nguyện đẩy lùi Covid-19</h5>
        <p class="card-text">Hưởng ứng lời kêu gọi của Thành Đoàn Đà Nẵng huy động thanh niên 
          tham gia đẩy lùi dịch Covid-19, vừa qua sinh viên Cao đẳng FPT Polytechnic Đà Nẵng đã đăng ký tham gia đội ...</p>
        <a href="#" class="btn btn-primary-gradient">Xem Thêm</a>
      </div>
    </div>
   </div>

   <div class="row">
    <div class="div float-left asideHome" style="width: 100%; ">
      <img class="card-img-top" src="/images/FPTtrian.jpg" alt="Card image ">
      <div class="card-body">
        <h5 class="card-title">FPT Polytechnic tri ân cán bộ giảng viên nhân ngày Nhà giáo Việt Nam 20/11</h5>
        <p class="card-text">Sáng ngày 20/11/2018, cán bộ giảng viên Cao đẳng FPT Polytechnic Hà Nội đã được tham gia chương trình đầy 
          ý nghĩa chào mừng ngày Nhà giáo Việt Nam 20/11. Chương trình do ...</p>
        <a href="#" class="btn btn-primary-gradient">Xem Thêm</a>
      </div>
    </div>
   </div>
    
  </div>
  <!-- Aside -->
  <div class="col my-3 arAside">
    <div class="card row asideHome">
      <div class="card-body">
        <div class="row">
          <div class="col-5">
            <img
              src="/images/ong.png"
              class="img-fluid"
            />
          </div>
          <ul class="col-7 pt-4 li-asideHome">
            <li><a href="#">Ong vàng</a></li>
            <li><a href="#">Hỏi đáp</a></li>
            <li><a href="#">Thông thái</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row card mt-3 asideHome">
      <div class="card-body">
        <input class="form-control" type="text" placeholder="Tìm kiếm" />
      </div>
    </div>
    <div class="card row mt-3 asideHome">
      <div class="text-center mt-3 pb-2">
        <h5>Thông tin tìm hiểu</h5>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Học bổng</li>
        <li class="list-group-item">Học tập</li>
        <li class="list-group-item">Sự kiện</li>
        <li class="list-group-item">Giải trí</li>
        <li class="list-group-item">Tuyển sinh</li>
        <li class="list-group-item">Đố vui</li>
      </ul>
    </div>
  </div>
</div>
</div>